*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/caches/build_file_checksums.ser
.idea/dictionaries/m60041364.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/caches/gradle_models.ser
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
